# Do not add sensitive certificates to the repo
scripts/certs/

__pycache__/
*.py[cod]

# FMU build artifacts
fmu/artifacts/

# Runtime outputs
data/

# Local tooling
.DS_Store

# 
*.so
*.dll

# Ignore virtual environments
.venv*