# Do not add sensitive certificates to the repo
scripts/certs/

__pycache__/
*.py[cod]

# FMU build artifacts
create_fmu/artifacts/

# Runtime outputs
data/

# Local tooling
.DS_Store

# Go binaries
orchestrator/service/cads-workflow-runner
orchestrator/service/cads-workflow-service

# Local environment overrides
.env

#
*.so
*.dll

# Ignore virtual environments
.venv*
