# Do not add sensitive certificates to the repo
scripts/certs/

__pycache__/
*.py[cod]

# FMU build artifacts
create_fmu/artifacts/

# Runtime outputs
data/

# Local tooling
.DS_Store

# Go binaries
orchestrator/service/cads-workflow-runner
orchestrator/service/cads-workflow-service

# Local environment overrides
.env

#
*.so
*.dll

# Ignore virtual environments
.venv*/

# Ignore local install directories
.local/

# Ignore built binaries
bin/

# Ignore deployment manifests
deploy/

# Ignore FMU binaries
*.fmu

# Ignore Go build cache
orchestrator/service/.gocache/
orchestrator/service/.gomodcache/
